<div data-page="chat" class="page chat_page" style="overflow: auto;">
	<input type="hidden" id="userId" value="<%=userId%>"/>
	<input type="hidden" id="loginName" value="<%=loginName%>"/>
	<div class="messages" id="msg" style="margin-top: 75px;">
		<!-- <div class="messages-title">
			显示时间<b id="tou"></b>
		</div> -->
		<!-- <div class="message message-sent message-first">
			<div class="message-content">
				<div class="message-bubble">
					<div class="message-text">Hi, Kate</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="message message-sent message-last" >
			<div class="message-content">
				<div class="message-bubble">
					<div class="message-text">How are you?</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="message message-received message-last">
			<div class="message-avatar"
				style="background-image: url(&quot;https://loremflickr.com/70/70/people?lock=9&quot;);"></div>
			<div class="message-content msg-rece">
				<div class="message-name">Kate</div>
				<div class="message-bubble">
					<div class="message-text">Hi, I am good!</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="message message-sent message-last" >
			<div class="message-content">
				<div class="message-bubble">
					<div class="message-text">How are you?</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="message message-sent message-last message-tail">
			<div class="message-content">
				<div class="message-bubble">
					<div class="message-image">
						<img src="https://loremflickr.com/300/200/cat?lock=6">
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>