<div data-page="index" class="page index_page">
	<div class="contain_login">
		<div class="top_login">
			<div class="title_login">
				<div class="logo_img"></div>
			</div>
			<div class="image_login">
				<div class="image_div"></div>
			</div>
		</div>
		<div class="centent_login">
			<input type="text" placeholder="用户名" name="loginName"/><br/>
			<input type="password" placeholder="密码" name="password" /><br/>
			<span class="span_error" style="display: none;"></span>
			<button type="button" class="login" id="userLogin">登 录</button>
		</div>
	</div>
</div>

